.main {
  position: relative;
  background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-9));
}

@media (min-width: 768px) {
  .main {
    border-radius: 20px;
    margin: auto;
    max-width: 60%;
  }
}